*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*classe aggiunta in js*/
.item{
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 9%;
    height: auto;
    border: 1px solid #141414;
    border-radius: 5px;
}


/*bonus 2*/

.container{
    width: 80%;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.fs-32{
    font-size: 32px;
}

.py-30{
    padding: 30px 0;
}


.fizz{
    background-color: rgb(76, 131, 76);
}

.buzz{
    background-color: rgb(234, 186, 96);
}

.fizzBuzz{
    background-color: rgb(255, 97, 97);
}

.number{
    background-color: lightblue;
}