*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*classe aggiunta in js*/
.item{
    margin: 5px;
    padding: 65px;
    border: 1px solid #141414;
    border-radius: 5px;
}
