*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*classe aggiunta in js*/
.item{
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 9%;
    height: auto;
    border: 1px solid #141414;
    border-radius: 5px;
}


/*bonus 2*/
.text-center{
    text-align: center;
}

.fs-32{
    font-size: 32px;
}

.py-30{
    padding: 30px 0;
}